h1,
h2,
h3,
label,
p,
div {
    color: white;
}

h1 {
    margin-bottom: 50px;
}

p,
div {
    line-height: 1.7rem;
}

a {
    color: white;
}

.background {
    display: block;
    width: 1000px;
    max-height: 5500px;
    overflow-y: hidden;

    position: absolute;
    left: 50%;
    top: 6vh;
    transform: translateX(-50%);
    z-index: 0;
}

.background svg #circle {
    stroke-dasharray: 800 1000;
    animation: hideCircle 0.5s 2.5s ease-out forwards;
}

.background svg #following {
    stroke-dasharray: 20000 11000;
    stroke-dashoffset: 20000;
    animation: displayFollowing 10s 3s ease-out forwards;
}

#links-container {
    position: absolute;
    right: 2%;
    bottom: 5%;

    max-width: 700px;
    
    display: grid;
    grid-template-columns: repeat(4, 32px);
    grid-template-rows: 1fr;
    gap: 25px;
    place-items: center;

    z-index: 10;
}

#links-container.top-fixed {
    position: fixed;
    bottom: auto;
    top: 5%;
}

#links-container a, #links-container img {
    width: 32px;
    height: 32px;
}

.headline h1 {
    line-height: 2rem;
}

.headline {
    text-align: center;
    width: fit-content;
    position: relative;
    left: 50%;
    top: calc(6vh + 340px);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.little-svg {
    display: none;
}

#subtitle {
    position: relative;
    margin-top: 35px;
}

#subtitle::before,
#subtitle::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
}

#subtitle::before {
    background-color: black;
    animation: typewriter 1.5s steps(32) forwards;
}

#subtitle::after {
    width: 0.125em;
    background-color: white;
    animation: typewriter 1.5s steps(32) forwards,
        blinking 1.5s ease infinite;
}

.description {
    max-width: 600px;
    width: fit-content;

    margin-top: calc(710px + 17vh);
    /* 6vh + 340px + 340px + 6vh */

    position: relative;
    left: 50%;
    transform: translateX(-37%);
}

.description #general {
    margin-bottom: 100px;
}

.skills {
    max-width: 600px;
    width: fit-content;
    margin-top: 300px;

    position: relative;
    right: -50%;
    transform: translateX(-60%);

    text-align: end;
}

.skills .content {
    display: grid;
    grid-template-columns: 2fr 50px;
    grid-template-rows: repeat(12, 0.5fr);
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    column-gap: 20px;

    overflow-x: hidden;
}

.skills .content:nth-child(3n+1) {
    row-gap: 20px;
}

.skills .content .head {
    width: 100%;
    grid-column: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;

    height: 100%;

    border-radius: 5px;

    margin-top: 10px;           /* Spacing between "visual" rows to keep img vertical centering */
}

.skills .content .head .progress {
    width: 100px;
    height: 10px;
    background-color: grey;
    border-radius: 5px;
    position: relative;
}

.skills .content .head .progress .progress-value {
    position: absolute;
    right: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: orange;

    width: 0%;
    transition: width 1s;
}

/*.skills .content .skill-tab .head .progress #python-progress {
    width: 80%;
}

.skills .content .skill-tab .head .progress #c-progress {
    width: 80%;
}

.skills .content .skill-tab .head .progress #web-progress {
    width: 70%;
}

.skills .content .skill-tab .head .progress #android-progress {
    width: 60%;
}

.skills .content .skill-tab .head .progress #linux-progress {
    width: 70%;
}

.skills .content .skill-tab .head .progress #office-progress {
    width: 60%;
}*/

.skills .content h2 {
    height: fit-content;
}

.skills .content p {
    grid-column: 1;
    margin-bottom: 10px;        /* Spacing between "visual" rows to keep img vertical centering */
}

.skills .content img {
    grid-column: 2 !important;
    grid-row: auto / span 2;
}

img {
    width: 50px;
}

.experience {
    width: fit-content;
    margin-top: 300px;

    position: relative;
    left: 50%;

    transform: translateX(-40%);
}

.experience .content {
    max-width: 600px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);

    align-items: center;

    column-gap: 20px;
}

.experience .content img {
    grid-row: auto / span 3;
}

.experience .content .work-headline {
    margin: 20px 0 20px 0;
}

.experience .content .work-timeline {
    margin-bottom: 10px;
}

.experience .content .work-description {
    margin: 0 0 20px 0;
}

.education {
    width: fit-content;
    margin-top: 350px;

    position: relative;
    right: -50%;
    transform: translateX(-60%);

    text-align: end;
}

.education .content {
    max-width: 600px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);

    align-items: center;

    column-gap: 40px;
    row-gap: 80px;
}

.education #insa-long {
    text-align: end;
    grid-column: 1 / span 2;
}

.education .content img {
    width: 100px;
}

.education .content .education-headline {
    margin: 0 0 20px 0;
}

.education .content .education-description {
    margin: 0 0 10px 0;
}

.rewards {
    width: fit-content;
    margin-top: 300px;

    position: relative;
    left: 50%;
    transform: translateX(-65%);
}

.rewards .content {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(aut-fit, 1fr);

    align-items: center;

    column-gap: 40px;
    row-gap: 80px;
}

.rewards .content img {
    width: 100px;
    border-radius: 10px;
}

.reward .content .reward-headline {
    margin: 0 0 20px 0;
}

.reward .content .reward-description {
    margin: 0 0 10px 0;
}