@media screen and (max-width: 1200px) {

    /* Large screens */
    .background {
        width: 800px;
    }

    .background svg #following {
        d: path("M 500 880 l -200 200 v 1700 l 800 175 v 1700 l -800 175 v 1300 l 800 175 v 1500 l -800 175 v 800 a 1 1 0 0 0 0 50 a 1 1 0 0 0 0 -50");
    }

    #links-container {
        /*opacity: 1;
        transition: opacity 0.3s;*/

        gap: 10px;
        background-color: rgba(0,0,0,0.9);
        box-shadow: -10px 6px 24px 15px rgba(0,0,0,0.9);
        -webkit-box-shadow: -10px 6px 24px 15px rgba(0,0,0,0.9);
  }

    #links-container.top-fixed {
        /*opacity: 0;*/
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 24px);
    }

    #links-container a, #links-container img {
        width: 24px;
        height: 24px;
    }

    .headline {
        top: calc(6vh + 270px);
        font-size: 0.9em;
    }

    .description {
        transform: translateX(-28%);
    }

    .skills {
        margin-top: 270px;
        right: -50%;
        transform: translateX(-70%);
    }

    .experience {
        margin-top: 200px;
        left: 55%;
    }

    .education {
        margin-top: 200px;
        right: -45%;
    }

    .rewards {
        margin-top: 190px;
        left: 55%;
    }
}

@media screen and (max-width: 992px) {
    /* Medium screens */
}

@media screen and (max-width: 870px) {

    /* Tablets */

    .background {
        display: none;
    }

    .little-svg {
        width: 30px;
        height: 100%;
        display: block;
        position: absolute;
        left: -40px;
        top: 0%;
    }

    .little-svg path {
        width: 100%;
        height: 100%;

        stroke-dasharray: 5000 9000;
        stroke-dashoffset: 5000;
        animation: displayLittle 1.5s 2s ease-in forwards;
    }

    .little-svg#start-little {
        height: 55vh;
        top: -55vh;
    }

    .description {
        margin-top: 95vh;
        font-size: 0.8em;
        padding-bottom: 125px;
    }

    .wrapper {
        max-width: 75%;
        left: 15%;
        right: 0%;
        transform: none;
        text-align: left;
        align-items: start;
    }

    .wrapper.right .content {
        grid-template-columns: 1fr 50px;
        grid-auto-flow: dense;

    }

    .wrapper.right .content img {
        grid-column: 2;
    }

    .wrapper.right .content div {
        grid-column: 1;
    }

    .skills {
        margin-top: 0px;
        padding-bottom: 125px;
    }

    .skills .little-svg path {
        stroke-dasharray: 10000 10000;
        stroke-dashoffset: 10000;
    }

    .skills .content {
        grid-template-columns: 50px 2fr !important;
        row-gap: 5px;
    }

    .skills .content img {
        grid-column: 1 !important;
        grid-row: auto / span 1;
    }

    .skills .content .head {
        grid-column: 2 !important;

        justify-content: center;
        align-items: flex-start;
    }

    .skills .content .head {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .skills .content .head .progress-value {
        left: 0;
    }

    .skills .content p {
        grid-column: 1 / span 2;
        width: 100%;
    }

    .experience {
        margin-top: 0px;
        padding-bottom: 125px;
    }

    .experience .content img {
        grid-row: auto / span 2;
    }

    .experience .content .work-timeline {
        grid-column: 2 / span 1;
    }

    .experience .content .work-description {
        grid-column: 1 / span 2;
    }

    .education {
        margin-top: 0px;
        padding-bottom: 125px;
    }

    .education .content {
        grid-template-columns: 1fr 100px !important;
    }

    .education #insa-long {
        text-align: start;
    }

    .education .content div {
        grid-column: 1 / 3 !important;
    }

    .education .content img {
        display: none;
    }

    .wrapper {
        /*max-width: 450px;*/
    }

    .rewards {
        margin-top: 0px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 576px) {

    /* Mobile */
    .wrapper {
        /*max-width: 400px;*/
    }

    .headline {
        top: 40vh;
    }

    .headline * {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        /*max-width: 350px;*/
    }

    .skills .content .head {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .experience .content img {
        grid-row: auto / span 1;
    }

    .experience .content .work-timeline {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 460px) {
    .wrapper {
        /*max-width: 250px;*/
    }

}